
DerivedData/

BMXContentSizeDemo.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/WorkspaceSettings.xcsettings

BMXContentSizeDemo.xcodeproj/xcuserdata/max.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
